<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>E-napló | Új kurzus</title>
</head>
<body>
<h1 th:text="${editing}? 'Kurzus módosítása' : 'Új kurzus'">placeholder</h1>
<form th:object="${courseInput}" th:method="${editing} ? put : post">
    <table>

        <!-- name -->
        <tr>
            <td><label for="course">Kurzus neve</label></td>
        </tr>
        <tr>
            <td><input type="text" id="course" th:field="*{name}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Hiba a kurzus nevében</td>
        </tr>

        <!-- teacher -->
        <tr>
            <td><label for="teacher">tanár</label></td>
        </tr>
        <tr>
            <td>
                <select id="teacher" th:field="*{teacherId}">
                    <option th:each="teacher : ${teacherOptions}"
                            th:value="${teacher.getId()}"
                            th:text="${teacher.getName()}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">Mentés</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>