<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>E-napló | Naplóbejegyzések</title>
</head>
<body>
<h1>Naplóbejegyzések</h1>
<a th:href="@{/gradebook-entries/new}">Új bejegyzés</a>
<table>
    <tr>
        <th>ID</th>
        <th>tanuló</th>
        <th>óra</th>
        <th>feladat</th>
        <th>osztályzat</th>
        <th th:text="#{column.operations}">műveletek</th>
    </tr>
    <tr th:each="entry : ${entries}">
        <td th:text="${entry.getId()}"></td>
        <td>
            <a th:href="@{/student_gradebook/{student} (student = ${entry.getStudent().getId()})}">
                <span th:text="${entry.getStudent().getName()}"></span>
            </a>
        </td>
        <td>
            <a th:href="@{/subject_gradebook/{subject} (subject = ${entry.getSubject().getId()})}">
                <span th:text="${entry.getSubject().getName()}"></span>
            </a>
        </td>
        <td th:text="${entry.getAssignment().getName()}"></td>
        <td th:text="${entry.getGrade()}"></td>
        <td>
            <div class="d-flex flex-row">
                <!-- edit button -->
                <div class="btn">
                    <a th:href="@{/gradebook-entries/{id}/ (id = ${entry.getId()})}"><i class="bi bi-pencil-square"></i></a>
                </div>
                <!-- delete button -->
                <div>
                    <form th:method="delete"
                          th:action="@{/gradebook-entries/{id} (id = ${entry.getId()})}">
                        <button type="submit" class="btn btn-link" name="delete">
                            <a class="text-danger"><i class="bi bi-x-circle"></i></a>
                        </button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
<span th:if="${#lists.isEmpty(entries)}">Nincsenek bejegyzések</span>
</body>
</html>