<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.0.2/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script th:src="@{/js/bootstrap-5.0.2/bootstrap.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>E-napló | Naplóbejegyzések</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container mt-5 px-2">
    <div class="d-flex flex-row justify-content-between mb-4">
        <h1>Naplóbejegyzések</h1>
        <div th:if="${@userUtil.hasAnyRole('ADMIN', 'TEACHER')}">
            <a th:href="@{/gradebook-entries/new}">Új bejegyzés</a>
        </div>
    </div>

    <!-- filters    -->
    <div class="d-flex flex-row justify-content-between align-items-center">
        <form th:action="@{/gradebook-entries}" th:method="get">
            <div class="input-group mb-3">

                <!-- student -->
                <div th:if="${studentOptions}">
                    <select class="form-select" id="student" name="studentId">
                        <option th:value="null">minden tanuló</option>
                        <option th:each="student : ${studentOptions}"
                                th:value="${student.getId()}"
                                th:text="${student.getName()}"
                                th:selected="${studentId == student.getId()}">
                        </option>
                    </select>
                </div>

                <!-- subject -->
                <label for="subject"></label>
                <select class="form-select" id="subject" name="subjectId">
                    <option th:value="null">minden tantárgy</option>
                    <option th:each="subject : ${subjectOptions}"
                            th:value="${subject.getId()}"
                            th:text="${subject.getName()}"
                            th:selected="${subjectId == subject.getId()}">
                    </option>
                </select>

                <!-- assignment -->
                <div th:if="${assignmentOptions}">
                    <select class="form-select" id="assignment" name="assignmentId">
                        <option th:value="null">minden feladat</option>
                        <option th:each="assignment : ${assignmentOptions}"
                                th:value="${assignment.getId()}"
                                th:text="${assignment.getName()}"
                                th:selected="${assignmentId == assignment.getId()}">
                        </option>
                    </select>
                </div>

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Keresés</button>
                </div>

            </div>
        </form>

    </div>
    <div>
        <form th:method="post"
              th:action="@{/gradebook-entries/reset-filter}">
            <button type="submit" class="btn btn-link">
                <span>szűrők törlése</span>
            </button>
        </form>
    </div>
    <!-- end of filters    -->

    <table class="table table-responsive align-middle">
        <tr>
            <th>#</th>
            <th th:if="${@userUtil.hasAnyRole('ADMIN', 'TEACHER')}">tanuló</th>
            <th>tantárgy</th>
            <th>feladat</th>
            <th>osztályzat</th>
            <th th:if="${@userUtil.hasAnyRole('ADMIN', 'TEACHER')}" th:text="#{column.actions}">műveletek</th>
        </tr>
        <tr th:each="entry : ${entries}">
            <td th:text="${entry.getId()}"></td>
            <td th:if="${@userUtil.hasAnyRole('ADMIN', 'TEACHER')}">
                <span th:text="${entry.getStudent().getName()}"></span>
            </td>
            <td>
                <span th:text="${entry.getSubject().getName()}"></span>
            </td>
            <td>
                <a th:href="@{/assignments/{assignmentId} (assignmentId = ${entry.getAssignment().getId()})}">
                    <span th:text="${entry.getAssignment().getName()}"></span>
                </a>
            </td>
            <td th:text="${entry.getGrade()}"></td>
            <td th:if="${@userUtil.hasAnyRole('ADMIN', 'TEACHER')}">
                <div class="d-flex flex-row">
                    <!-- details button -->
                    <div class="btn" th:title="#{action.details}">
                        <a th:href="@{/gradebook-entries/{id}/ (id = ${entry.getId()})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                    <!-- delete button -->
                    <div th:title="#{action.delete}">
                        <form th:method="delete"
                              th:action="@{/gradebook-entries/{id} (id = ${entry.getId()})}">
                            <button type="submit" class="btn btn-link" name="delete">
                                <a class="text-danger"><i class="bi bi-x-circle"></i></a>
                            </button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <span th:if="${#lists.isEmpty(entries)}">Nincsenek bejegyzések</span>
</div>
</body>
</html>