<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.0.2/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script th:src="@{/js/bootstrap-5.0.2/bootstrap.js}"></script>
    <title>E-napló | Új tantárgy</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<h1 th:text="${editing}? 'Tantárgy adatai' : 'Új tantárgy'">placeholder</h1>
<div th:if="${@userUtil.hasAnyRole('ADMIN')}">
    <div th:replace="fragments/subject-details-form"></div>
</div>
<div th:if="${@userUtil.hasAnyRole('TEACHER')}">
    <div th:replace="fragments/subject-details-table"></div>
</div>


<div th:if="${editing}">
    <h2>Tanulók</h2>

    <table>
        <tr>
            <th>ID</th>
            <th th:text="#{column.name}"></th>
            <th th:text="#{column.gradelevel}"></th>
            <th th:text="#{column.email}">email</th>
            <th th:text="#{column.address}">cím</th>
            <th th:text="#{column.phone}">telefon</th>
            <th th:text="#{column.birthdate}">születési dátum</th>
            <th th:text="#{column.actions}">műveletek</th>
        </tr>
        <tr th:each="student : ${studentsOfCourse}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getGradeLevel()}"></td>
            <td th:text="${student.getEmail()}"></td>
            <td th:text="${student.getAddress()}"></td>
            <td th:text="${student.getPhone()}"></td>
            <td th:text="${student.getBirthdate()}"></td>
            <td>
                <!-- delete button -->
                <form th:method="post"
                      th:action="@{/subjects/{subjectId}/remove-student (subjectId=${subjectInput.getId()})}">
                    <button type="submit" class="btn btn-link" th:name="studentId" th:value="${student.getId()}">
                        <a class="text-danger"><i class="bi bi-x-circle"></i></a>
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <span th:if="${#lists.isEmpty(studentsOfCourse)}">Nincsenek tanulók</span>


    <h2>Tanuló hozzáadása</h2>
    <form th:method="post" th:action="@{/subjects/{subjectId}/add-student (subjectId=${subjectInput.getId()})}">
        <label for="student">tanuló</label>
        <select id="student" th:name="studentId">
            <option th:each="student : ${studentOptions}"
                    th:value="${student.getId()}"
                    th:text="${student.getName()}">
            </option>
        </select>
        <button th:type="submit">OK</button>
    </form>
</div>
</body>
</html>