<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>E-napló | Új tantárgy</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<h1 th:text="${editing}? 'Tantárgy adatai' : 'Új tantárgy'">placeholder</h1>
<form th:object="${subjectInput}" th:method="${editing} ? put : post">
    <table>

        <!-- name -->
        <tr>
            <td><label for="course">Kurzus neve</label></td>
        </tr>
        <tr>
            <td><input type="text" id="course" th:field="*{name}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Hiba a kurzus nevében</td>
        </tr>

        <!-- teacher -->
        <tr>
            <td><label for="teacher">tanár</label></td>
        </tr>
        <tr>
            <td>
                <select id="teacher" th:field="*{teacherId}">
                    <option th:each="teacher : ${teacherOptions}"
                            th:value="${teacher.getId()}"
                            th:text="${teacher.getName()}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">Mentés</button>
            </td>
        </tr>
    </table>
</form>
<div th:if="${editing}">
    <h2>Tanulók</h2>

    <table>
        <tr>
            <th>ID</th>
            <th th:text="#{column.name}"></th>
            <th th:text="#{column.gradelevel}"></th>
            <th th:text="#{column.email}">email</th>
            <th th:text="#{column.address}">cím</th>
            <th th:text="#{column.phone}">telefon</th>
            <th th:text="#{column.birthdate}">születési dátum</th>
            <th th:text="#{column.operations}">műveletek</th>
        </tr>
        <tr th:each="student : ${studentsOfCourse}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getGradeLevel()}"></td>
            <td th:text="${student.getEmail()}"></td>
            <td th:text="${student.getAddress()}"></td>
            <td th:text="${student.getPhone()}"></td>
            <td th:text="${student.getBirthdate()}"></td>
            <td>
                <!-- delete button -->
                <form th:method="post"
                      th:action="@{/subjects/{subjectId}/remove-student (subjectId=${subjectInput.getId()})}">
                    <button type="submit" class="btn btn-link" th:name="studentId" th:value="${student.getId()}">
                        <a class="text-danger"><i class="bi bi-x-circle"></i></a>
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <span th:if="${#lists.isEmpty(studentsOfCourse)}">Nincsenek tanulók</span>


    <h2>Tanuló hozzáadása</h2>
    <form th:method="post" th:action="@{/subjects/{subjectId}/add-student (subjectId=${subjectInput.getId()})}">
        <label for="student">tanuló</label>
        <select id="student" th:name="studentId">
            <option th:each="student : ${studentOptions}"
                    th:value="${student.getId()}"
                    th:text="${student.getName()}">
            </option>
        </select>
        <button th:type="submit">OK</button>
    </form>
</div>
</body>
</html>