<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.0.2/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script th:src="@{/js/bootstrap-5.0.2/bootstrap.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>E-napló | Tanárok</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container mt-5 px-2">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div><h1>Tanárok</h1></div>
        <div><a th:href="@{teachers/new}">Új tanár</a></div>
    </div>

    <!--    filters     -->
    <form th:action="@{/teachers}" th:method="get">
        <div class="input-group mb-3 w-50">
            <label for="teacherName"></label>
            <input type="search" class="form-control" id="teacherName" name="teacherName" placeholder="név"
                   th:value="${teacherName}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Keresés</button>
            </div>
        </div>
    </form>
    <div>
        <form th:method="post"
              th:action="@{/teachers/reset-filter}">
            <button type="submit" class="btn btn-link">
                <span>szűrők törlése</span>
            </button>
        </form>
    </div>
    <!--    end of filters  -->

    <table class="table table-responsive  align-middle">
        <tr>
            <th>ID</th>
            <th th:text="#{column.name}"></th>
            <th th:text="#{column.email}">email</th>
            <th th:text="#{column.address}">cím</th>
            <th th:text="#{column.phone}">telefon</th>
            <th th:text="#{column.birthdate}">születési dátum</th>
            <th th:text="#{column.actions}">műveletek</th>
        </tr>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.getId()}"></td>
            <td th:text="${teacher.getName()}"></td>
            <td th:text="${teacher.getEmail()}"></td>
            <td th:text="${teacher.getAddress()}"></td>
            <td th:text="${teacher.getPhone()}"></td>
            <td th:text="${teacher.getBirthdate()}"></td>
            <td>
                <div class="d-flex flex-row">
                    <!-- details button -->
                    <div class="btn" th:title="#{action.details}">
                        <a th:href="@{/teachers/{id}/ (id = ${teacher.getId()})}"><i
                                class="bi bi-pencil-square"></i></a>
                    </div>
                    <!-- profile button -->
                    <div class="btn" th:title="#{action.profile}">
                        <!--    navigateToUser  -->
                        <a th:href="@{/users/teachers/{id} (id = ${teacher.getId()})}"><i class="bi bi-person"></i></a>
                    </div>
                    <!-- delete button -->
                    <div th:title="#{action.delete}">
                        <form th:method="delete"
                              th:action="@{/teachers/{id} (id = ${teacher.getId()})}">
                            <button type="submit" class="btn btn-link" name="delete">
                                <a class="text-danger"><i class="bi bi-x-circle"></i></a>
                            </button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <span th:if="${#lists.isEmpty(teachers)}">Nincsenek tanárok</span>
</div>
</body>
</html>