<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>E-napló | Új felhasználó</title>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<h1>Felhasználó létrehozása</h1>
<div th:if="${role.name()} == 'STUDENT'">
    <div th:include="fragments/create-student-user"></div>
</div>
<div th:if="${role.name()} == 'TEACHER'">
    <div th:include="fragments/create-teacher-user"></div>
</div>
<div th:if="${role.name()} == 'ADMIN'">
    <form th:action="@{/users/create-admin-user}" th:method="post" th:object="${usernameInput}">
        <table>
            <tr>
                <td><label for="usernameInput">Felhasználónév</label></td>
            </tr>
            <tr>
                <td><input type="text" id="usernameInput" th:field="*{username}"></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
            </tr>

            <tr>
                <td>
                    <button type="submit">Fiók létrehozása</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${initialCredentials}">
    <table>
        <thead>
        <tr>
            <th colspan="2">bejelentkezési adatok</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label for="username">felhasználónév</label></td>
            <td>
                <span id="username" th:text="${initialCredentials.getUsername()}">felhasználónév</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">jelszó</label></td>
            <td>
                <span id="password" th:text="${initialCredentials.getPassword()}">jelszó</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>